@import "tailwindcss";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@theme{
    --color-persimmon: #ec5800;
    --color-persimmon-light: #ec5800;
    --color-persimmon-dark: #ec5800;
    --color-persimmon-hover: #ec5800;
}